<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Orders</a></li>
  </nav>
  <%= yield %>
</body>
</html>