<h1>Pizza Order Form</h1>

<form action="/pizzas" method="post">
  <p><label>First Name: <input type="text" name="first_name"/></label></p>
  <p><label>Last Name: <input type="text" name="last_name"/></label></p>
  <p><label>Topping: 
    <select name="topping">
      <option value="Cheese">Cheese</option>
      <option value="Meat Feast">Meat Feast</option>
      <option value="Hawaiian">Hawaiian</option>
      <option value="Pepperoni">Pepperoni</option>
    </select>
  </label></p>  
  <p><label>Quantity: <input type="number" name="quantity"/></label></p>
  <p><input type="submit" value="Order" /></p>
</form>